{% extends "tracker/layout.html" %}

{% load mathfilters %}
{% load widget_tweaks %}


{% if user.is_authenticated %}
{% block body %}
<div class="container">
    <div class="debit_credit">
        
<div id="debit" class="total">Total Debit: <span class="font-weight-bold"> {{ debit.debit__sum|abs }}</span></div>
<div id="credit" class="total">Total Credit: <span class="font-weight-bold"> {{ credit.credit__sum|abs }}</span></div>
    </div>
<div id="add_new"><button class="btn btn-primary" href="#" onclick='overlay()'>Add Transaction</button></div>


<div id="myBtnContainer">
    <button class="btn btnF btn-outline-secondary active" onclick="filterSelection('all')"> Show all</button>
    <button class="btn btnF btn-outline-secondary" onclick="filterSelection('Food')"> Food</button>
    <button class="btn btnF btn-outline-secondary" onclick="filterSelection('Income')"> Income</button>
    <button class="btn btnF btn-outline-secondary" onclick="filterSelection('Transport')"> Transport</button>
    <button class="btn btnF btn-outline-secondary" onclick="filterSelection('Bills')"> Bills</button>
    <button class="btn btnF btn-outline-secondary" onclick="filterSelection('Clothes')"> Clothes</button>
  </div>

{% for objects in trans %}

<div class="transaction_container {{ objects.category }}">
        <form action="/edit/{{ objects.uuid }}" method="post">
            
    <div class="transactions">
        {% csrf_token %}
        <div class="transactions_element">{{ objects.created|date:"d M Y" }}</div>
        <div class="transactions_element"> {{ objects.category }}</div>
        {% if objects.credit > 0 %}
            <div class="transactions_element">$ {{ objects.credit|abs }}</div>
        {% else %}
        <div class="transactions_element">$ {{ objects.debit|abs }}</div>
        {% endif %}
        <div>
            <button  data-entry="{{ objects.uuid }}" type="submit" name="delete" class="btn btn-danger">Delete</button>
            <button  type="button" data-entry="{{ forloop.counter }}" onclick='overlay_edit( "{{ forloop.counter }}" )' class="btn btn-primary" value="{{ forloop.counter }}">Edit</button>
        </div>
        
    </div>
    
    </form>
    
</div>


<div id="overlay_edit_{{ forloop.counter }}" class="overlay_edit">
    <div id="overlay_container">
        <div class="insert_form">
            <form action="/edit/{{ objects.uuid }}" method="post">
                {% csrf_token %}
                <div class="entry_element">
                    <div id="date_tag" class="tags">
                     Date:
                     </div>
                     <div id="date_field" class="fields">
                    {% now "d M Y" %}
                    </div>
                </div>
                <div class="entry_element">
                    <div id="descr_tag" class="tags">
                    Description:
                     </div>
                     <div id="descr_field" class="fields">
                     {% render_field form.descr placeholder=objects.description %}
                     </div>
                </div>
                <div class="entry_element">
                    <div id="cat_tag" class="tags">
                    Category:
                    </div>
                    <div id="cat_field" class="fields">
                    {{ form.category }}
                    </div>
                </div>
                <div class="entry_element">
                    <div id="amount_tag" class="tags">
                    Amount:
                    </div>
                    <div id="amount_field" class="fields">
                    {% if objects.credit > 0 %}
                    {% render_field form.value placeholder=objects.credit %}
                    {% else %}
                    {% render_field form.value placeholder=objects.debit %}
                    {% endif %}
                    </div>
                </div>
                <div class="entry_buttons">
                <button type="submit" method="post" class="btn btn-primary" name="edit">Submit</button>
                <button type="button" id="cancelButton_edit"  class="btn btn-danger" onclick='overlay_edit_close("{{ forloop.counter }}")'>Cancel</button>
                </div>
    
            </form>
        </div>
    </div>
</div>


{% endfor %}


<div id="overlay">
    <div id="overlay_container">
        <div class="insert_form">
            <form action="{% url 'insert' %}" method="post">
                {% csrf_token %}
                <div class="entry_element">
                    <div id="date_tag" class="tags">
                     Date:
                     </div>
                     <div id="date_field" class="fields">
                    {% now "d M Y" %}
                    </div>
                </div>
                <div class="entry_element">
                    <div id="descr_tag" class="tags">
                    Description:
                     </div>
                     <div id="descr_field" class="fields">
                     {{ form.descr }}
                     </div>
                </div>
                <div class="entry_element">
                    <div id="cat_tag" class="tags">
                    Category:
                    </div>
                    <div id="cat_field" class="fields">
                    {{ form.category }}
                    </div>
                </div>
                <div class="entry_element">
                    <div id="amount_tag" class="tags">
                    Amount:
                    </div>
                    <div id="amount_field" class="fields">
                     {{ form.value }}
                    </div>
                </div>
                <div class="entry_buttons">
                <button type="submit" method="post" class="btn btn-primary">Submit</button>
                <button type="button" id="cancelButton"  class="btn btn-danger" >Cancel</button>
                </div>
    
            </form>
        </div>
    </div>
</div>





<script>
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btnF");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}

function overlay() {
	el = document.getElementById("overlay");
	el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
}

function overlay_edit(x) {
	el1 = document.getElementById("overlay_edit_"+x);
	el1.style.visibility = (el1.style.visibility == "visible") ? "hidden" : "visible";
}

function overlay_edit_close(x) {
	el1 = document.getElementById("overlay_edit_"+x);
	el1.style.visibility = "hidden";
}

document.getElementById("cancelButton").addEventListener("click", function() {
    el = document.getElementById("overlay");
    el.style.visibility = "hidden";
});


function filterSelection(string){
    if(string=='all'){
    
    select = document.querySelectorAll(".transaction_container");
    select.forEach((element) => {
    element.style.display = "none";});

    select = document.querySelectorAll(".transaction_container");
    select.forEach((element) => {
    element.style.display = "block";});
    }
    else{
        
    select = document.querySelectorAll(".transaction_container");
    select.forEach((element) => {
    element.style.display = "none";});

    select1 = document.querySelectorAll("."+string);
    select1.forEach((element) => {
    element.style.display = "block";});
    }
}



</script>
{% endblock %}
{% endif %}